.header, .navbar{
    width: 100%;
    /* height: 70px; */
    background-color: black;
}

.container {
      display: flex;
      align-items: center;
      justify-content: space-between;  
      flex-wrap: wrap;
}

.navbarNav {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 10px;
    flex-wrap: wrap;
}
.navlink {
    text-decoration: none;
    color: rgb(250, 250, 250);
    list-style: none;
    font-size: 20px;
}
.link {
    text-decoration: none;
    color: white;
    font-size: 40px;

}