.container {
    max-width: 1500px;
    margin: auto;
    z-index: 20100;
}

.trend {
    width: 100%;
    display: flex;
    /* gap: 30px; */
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.newReleases {
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
}
.newReleasesBtn {
    display: flex;
    gap: 10px;
}


.movies , .tvshows {
    background-color: rgb(19, 48, 13);
    padding: 10px 20px;
    border: none;
    color: white;
    /* font-weight: bold; */
    font-size: 18px;
    cursor: pointer;
}